/* @font-face {
  font-family: PingFang-Medium;
  font-weight: 600;
  font-style: normal;
  src: url("fonts/PingFang Medium.woff") format('woff'), url("fonts/PingFang Medium.ttf") format('truetype');
  font-display: swap;
}
@font-face {
  font-family: PingFang-Bold;
  font-weight: 600;
  font-style: normal;
  src: url("fonts/PingFang Bold.woff") format('woff'), url("fonts/PingFang Bold.ttf") format('truetype');
  font-display: swap;
}

$fontFamily-medium =  'PingFang-Medium',
Microsoft YaHei,
Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$fontFamily-bold =  'PingFang-Bold',
Microsoft YaHei,
Helvetica Neue,
Helvetica,
Arial,
sans-serif;
$fontFamily-regular =  PingFangSC-Regular;
$fontFamily-mediumSC =  PingFangSC-Medium;

body{
  font-family: $fontFamily-medium;
}
*/


body{
  background: #fff;
  filter: saturate(0)
  .home .hero h1, .home .hero .description, .home .hero .action{
    margin: 1.8rem auto 0.8rem;
  }
  .home .hero {
    h1{
      font-size: 2rem
      text-shadow: 3px 2px 0px rgba(255, 100, 227, 0.25);
      color: #ff32d9;
    }
    .description{
      margin-top: 0.8rem;
      font-size: 1rem
    }
    .action-button{
      background: linear-gradient(45deg, #605dff, #ff2ee6);
      background: linear-gradient(45deg, #ff2edc, #ffad4c);
      border-bottom: 0;
      animation: pulse 2.5s linear infinite;
      box-shadow: 0px 15px 18px -6px rgba(255, 100, 227, 0.5);

    }
    img[alt="hero"]{
      height: 280px;
      width: 360px;
      color: #fff;
      /*border: 1px solid white;
      border-image: linear-gradient(45deg, #ff31d9, #ffb15b);
      border-image-width: auto;*/
      background: linear-gradient(45deg, #ff2edc, #ffad4c);
      border-radius: 4px;
    }
  }
  .sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
    opacity: 1;
    color: #2c3e50;
    font-weight: bold;
  }
}

.navbar .logo{
  border-radius: 50%;
}

.theme-default-content.content__default{
  min-height: 600px;
}
.home .theme-default-content.content__default{
  min-height: 30px;
}

.footer .footer-right{
  opacity: 0.2;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

html,body {
  &::-webkit-scrollbar {
    width: 6px;
  height: 6px;
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
    transition: 0.3s ease-in-out;
  }

  & {
    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
      background: #c1c1c1!important;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
    }
  }

  & {
    ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
      background: #c1c1c1!important;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent!important;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  }
}
/*body::-webkit-scrollbar {
}*/

/*定义滚动条轨道*/
/*body::-webkit-scrollbar-track {
}*/

/*定义滑块 内阴影+圆角*/
/*body::-webkit-scrollbar-thumb {
}*/

/*自定义评论区*/
.vssue .vssue-header{
  margin-top: 30px;
  padding-top: 10px;
  border-top:1px solid #eaecef;
}

/* animate.css*/
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
